/*page layout*/
*,
*::before,
*::after{
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	background: hsl(217, 54%, 11%);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* card layout*/

.card{ 
	width: 375px;
	display: flex;
	flex-direction: column;;
}

.square{
	position: relative;
}

.infos{
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5em;
}

.amount, .time{
	display: flex;
	align-items: center;
	gap: 0.4em;
}

.amount p, .time p{
	margin: 0;
}

.bottom{
	display: flex;
	gap: 1.2em ;
}



/* card style*/
.card{	
	background: hsl(216, 50%, 16%);
	padding: 30px;
	border-radius: 20px;
	font-family: Outfit, serif;
	color: hsl(0, 0%, 100%);
}
.card p{
	color: hsl(215, 51%, 70%);
	font-size: 18px;
	font-weight: 300;
}

a{
	text-decoration: none;
}

/* picture */
#equilibrium{
	max-width: 100%;
	border-radius: 10px;
	margin-bottom: 1em;
	position: relative;
}

/*description*/
h1{
	font-size: 1.6em;
	font-weight: 600;
	color: hsl(0, 0%, 100%);
}


/*  infos*/
.amount p{;
	color: hsl(178, 100%, 50%);
	font-weight: 500;
	font-size: 1.05em;
}

#ethereum{
	align-self: center;
}

.time p{
	color: hsl(215, 51%, 70%);
	font-weight: 300;
	font-size: 1.05em;
}

#clock{
	align-self: center;
}
/*line*/
.line hr{

  	color: hsl(215, 32%, 27%);
}
 
/*footer*/
#avatar{
	align-self: center;
	width: 40px;
	border:  white solid 1px;
	border-radius: 50%;
}



#jules{
	color: hsl(0, 0%, 100%);
}

/*hover*/

#jules:hover, h1:hover{
	color: hsl(178, 100%, 50%);
}

#view_icon:hover{
	opacity: 1;
}
#view_icon{
	background: hsla(178,100%, 50%, 0.5);
	opacity: 0;
	border-radius: 10px;
	padding: 125px;
	width: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
}









